.topbox {
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  
    h2 {
      font-size: 24px;
      margin-bottom: 30px;  /* Adjust this to control space below the title */
    }
  
    .topdeals {
      display: flex;
      justify-content: space-between;
      align-items: center; /* Align items vertically in the center */
      gap: 25px; /* Add spacing between the elements */
      margin-top: 20px; /* This will add vertical space between the h2 and the top deals */
      margin-bottom: 20px; /* Vertical gap between each .topdeals item */
  
      .topdealsusers {
        display: flex;
        gap: 10px;
        align-items: center; /* Center align the user image and text */
        
        img {
          width: 45px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
        }
  
        .user-info {
          display: flex;
          flex-direction: column;
          .username::first-letter {
            text-transform: uppercase;
          }
        }
      }
  
      .amount {
        font-weight: bold;
        font-size: 16px;
        color: #f5f7f5; 
      }
    }
  }
  